@model IEnumerable<TestModel>
@{
    ViewData["Title"] = "TestModel";
}
<h1>TestModel</h1>

<div>
    @foreach (var p in @Model)
    {
        <p>Product: <b>@p.ProductName</b></p><br />
        <p>Description: @p.ProductDesc</p><br />
        <p>Price: @p.ProductPrice</p>
        <hr />
    }
</div>